@charset "utf-8";

body {
background: black url(imagens/espaco.jpg) center center no-repeat fixed;
background-size: cover;


}
main {

     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
}